.dbdata
.dbdata/**
.frontend/react-admin/node_modules
.frontend/react-admin/node_modules/**
.frontend/react-ambassador/node_modules
.frontend/react-ambassador/node_modules/**
.frontend/react-checkout/node_modules
.frontend/react-checkout/node_modules/**